<div class="q-card__section q-card__section--vert q-pt-md">
    <div class="blog-form-name q-pb-sm">
        <label class="q-field row no-wrap items-start q-field--filled q-input q-field--dense" for="f_017f9a12-69b2-4baf-b7ae-578aee31b09d"><!---->
            <div class="q-field__inner relative-position col self-stretch">
                <div class="q-field__control relative-position row no-wrap text-blue-stylish-01" tabindex="-1">
                    <div class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                        <input class="q-field__native q-placeholder" tabindex="0" placeholder="名前(任意)" id="f_017f9a12-69b2-4baf-b7ae-578aee31b09d" type="text"><!----></div>
                    </div><!---->
                </div><!---->
            </label><p>@</p>
            <label class="q-field row no-wrap items-start q-field--filled q-input q-field--dense" for="f_cc3b59b2-dc0e-4097-b8f8-df142afb9b84"><!---->
                <div class="q-field__inner relative-position col self-stretch">
                    <div class="q-field__control relative-position row no-wrap text-blue-stylish-01" tabindex="-1">
                        <div class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                            <input class="q-field__native q-placeholder" tabindex="0" placeholder="識別文字列(任意)" id="f_cc3b59b2-dc0e-4097-b8f8-df142afb9b84" type="text"><!----></div>
                        </div><!----></div><!----></label></div><label class="q-field row no-wrap items-start q-field--filled q-textarea q-textarea--autogrow q-field--dense blog-form-body" for="f_c4f03387-2f24-4650-9b63-496b9b29b8b5"><!---->
                            <div class="q-field__inner relative-position col self-stretch">
                                <div class="q-field__control relative-position row no-wrap text-blue-stylish-01" tabindex="-1">
                                    <div class="q-field__control-container col relative-position row no-wrap q-anchor--skip" style="">
                                        <textarea class="q-field__native q-placeholder" tabindex="0" rows="1" placeholder="コメントする" id="f_c4f03387-2f24-4650-9b63-496b9b29b8b5" style="height: 36px;"></textarea><!---->
                                    </div>
                                </div><!---->
                            </div><!---->
                        </label>
                        <div class="text-right blog-form-button">
                            <button class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--rectangle text-blue-stylish-06 q-btn--actionable q-focusable q-hoverable" tabindex="0" type="button">
                                <span class="q-focus-helper"></span>
                                <span class="q-btn__content text-center col items-center q-anchor--skip justify-center row">
                                    <span class="block">キャンセル</span>
                                </span>
                            </button>
                            <button class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--rectangle text-blue-stylish-01 q-btn--actionable q-focusable q-hoverable" tabindex="0" type="button">
                                <span class="q-focus-helper"></span>
                                <span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><span class="block">コメント</span></span></button></div></div>